.footer{
				background-color:#437495;
                height:200px;
                width:100%;
                background-size: 100% 100%;
               

        }
        .footer_nav{
            display:inline;
            text-align:center;
            padding-top:500px;
            margin-top:500px;
            margin-left:50px;
        }

        .footer_nav li{
            display:inline;
            margin-top:100px;
            margin-right:100px;
            font-size:1.2em;
            color:white;
        }

        .footer_title{margin-top:-180px;}

        .footer_text{
            color:white;
            list-style-type: none;
}
         .company_footer{
            margin-left:50px;
			cursor:pointer;
         }
         .solution_footer{
         margin-left:240px;
         margin-top:-98px;
         }
         .legal_footer{
         margin-left:413px;
         margin-top:-80px;
         }
		 
		 .copyright{
		 float:right;
		 color:white;
		 margin-top:125px;
		 margin-right:20px;
		 }
		 
		 .phonenumber{
		 float:right;
		 color:white;
		 margin-top:120px;
		 margin-right:120px;}
		 
		 
		 .social_media{
		 margin-top:-100px;
		 }
		 
		 #linkedin{
		 float:right;
		 margin-right:50px;
		 background:url(img/linkedin.png);
		height: 35px;
		width:35px;}
		

		
		 #twitter{
		 float:right;
		 margin-right:20px;
		 background:url(img/twitter.png);
		height: 34px;
		width:35px;
		 }
		 
		 #facebook{
		 float:right;
		 margin-right:20px;
		 background:url(img/facebook.png);
		height: 35px;
		width:35px;
		 }

		 
		 #about_footer{
		 cursor:pointer;}
		 
         #press_footer{
		 cursor:pointer;}
         #jobs_footer{
		 cursor:pointer;
		 }
         #demo_footer{
		 cursor:pointer;}
         #contact_footer{
		 cursor:pointer;
		}
		 
		 #web_footer{
		cursor:pointer;
		}
		#mobile_footer{
		cursor:pointer;
		}
#pricing_footer{
		cursor:pointer;
		}


              
